body {
  margin: 0;
}

#welcome {
  background-color: rgb(160, 160, 160);
}

#about {
  background-color: rgb(63, 63, 63);
}

#contact {
  background-color: rgb(116, 116, 116);
}

#portfolio {
  background-color: rgb(177, 134, 134);
}

#schedule {
  background-color: rgb(255, 69, 69);
}

