.loader{
  position: fixed;
  width: 100vw;
  height: 200vh;
  pointer-events: none;
  background-image: linear-gradient(90deg, #322e2d, #ff5700, #322e2d);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
}