@font-face {
  font-family: 'automata';
  src: url('/popa-muravya/assets/font/automata/AUTOMATA-DISPLAY.woff2');
  src: url('/popa-muravya/assets/font/automata/AUTOMATA-DISPLAY.woff');
  src: url('/popa-muravya/assets/font/automata/AUTOMATA-DISPLAY.ttf');
}

.contact,
.contact-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
}

.contact-container {
  position: relative;
  z-index: 1;
  pointer-events: none;
  font-family: 'automata';
  font-size: 1.5em;
}

.contact-me-container h1 {
  margin-top: 0;
}

.contact-me-items input,
#message {
  background-color: #ff5700;
  font-family: 'automata';
  font-size: 1em;
  color: #322e2d;
}

.contact-me-items,
.my-info-container {
  display: flex;
  flex-direction: column;
}

.my-info-container {
  align-items: center;
}

.my-info-container h2 {
  margin-top: 0;
}

.network-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.contact-button {
  width: 160px;
  margin: 20px;
  float: left;
  position: relative;
  font-family: arial;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  align-self: center;
}

.net-button {
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  padding: 10px 19px;
  transition: 150ms;
  color: #322e2d;
}

.contact-me-items,
.network-item {
  pointer-events: auto;
}

.button.v19 .label {
  padding: 1px 30px;
  font-family: 'automata';
  font-size: 14px;
  display: inline-block;
  z-index: 10;
  position: relative;
  white-space: nowrap;
  line-height: 24px;
  transition: all 0.225s;
  transition-delay: 0.45s;
  letter-spacing: 2px;
}

.button.v19.button-start .label {
  padding: 12px 65px;
}

.button.v19 .icon2 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.225s;
  transform: skew(-40deg, 0deg) scaleX(1);
  background: #ff5700;
  transition-delay: 0.45s;
}

.button.v19 .icon {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.225s;
  transform: scale(0.9) skew(0deg, 0deg);
  transition-delay: 0.15s;
}

.button.v19 .icon:before,
.button.v19 .icon:after {
  width: 60px;
  opacity: 0;
  content: "";
  height: 1px;
  position: absolute;
  display: block;
  background: #ff5700;
  transition: all 0.375s;
  transition-delay: 0.3s;
}

.button.v19 .icon:before {
  top: 0;
  left: calc(50% - 30px);
}

.button.v19 .icon:after {
  bottom: 0;
  right: calc(50% - 30px);
}

.button.v19 .icon span:before,
.button.v19 .icon span:after {
  height: 0;
  transition-delay: 0s;
  content: "";
  background: #ff5700;
  position: absolute;
  display: block;
  width: 2px;
  transition: all 0.225s;
}

.button.v19 .icon span:before {
  left: 0;
  top: 0;
}

.button.v19 .icon span:after {
  right: 0;
  bottom: 0;
}

.contact-button:hover .net-button {
  color: #d6d3ce;
}

.button.v19:hover .icon {
  transform: skew(-40deg, 0deg);
}

.button.v19:hover .icon:before,
.button.v19:hover .icon:after {
  transition-delay: 0s;
  width: 30px;
  opacity: 1;
}

.button.v19:hover .icon:before {
  left: 0;
}

.button.v19:hover .icon:after {
  right: 0;
}

.button.v19:hover .icon span:before,
.button.v19:hover .icon span:after {
  height: 20px;
  transition-delay: 0.45s;
}

.button.v19:hover .icon2 {
  transform: skew(-40deg, 0deg) scaleX(0.2);
  background: transparent;
  transition-delay: 0s;
  opacity: 0;
}

#message {
  height: 150px;
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {
  .contact-container {
    font-size: 1.3em;
  }

  .contact-me-items input,
  #message {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 425px) {
  #contact{
    overflow: hidden;
    height: 100%;
  }
  .contact{
    overflow: auto;
    height: 100vh;
  }
  .contact-container {
    font-size: 1.2em;
  }
}