.schedule-table{
  display: grid;
  grid-template-columns: repeat(6, 100px);
  grid-template-rows: repeat(8, 50px);
}
.schedule-table:hover{
  z-index: 2;
}
.subject-container{
  display: flex;
  transition: 0.5s;
}
.monday{
  grid-column: 2;
}
.eight-time{
  grid-row: 2;
}
.time{
  grid-column: 1;
}

.start-hh-15{
  position: relative;
  top:25%
}
.start-hh-30{
  position: relative;
  top:50%
}
.start-hh-45{
  position: relative;
  top:75%
}
.end-hh-15{
  height: 125%;
}

.subject-container:hover{
  background-color: #ff5700;
  color: #322e2d;
}
